openapi: 3.0.1
info:
  title: Admin API
  version: 1.0.0
servers:
  - url: https://admin-api.zsf918.com/v1
tags:
  - name: 管理员
    description: 管理员账户API
  - name: 订单
    description: 订单API
  - name: 商户
    description: 商户API
  - name: 码商
    description: 码商API
  - name: 服务商
    description: 服务商API
  - name: 财务
    description: 财务API
  - name: 商户代理
    description: 商户代理API
  - name: 码商代理
    description: 码商代理API
paths:
  /admin/accounts:
    get:
      summary: 获取管理员列表
      operationId: ListAccounts
      tags:
        - 管理员
      parameters:
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/Account'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/account:
    post:
      summary: 创建管理员
      operationId: CreateAccount
      tags:
        - 管理员
      requestBody:
        $ref: '#/components/requestBodies/CreateAccount'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/account/{id}:
    get:
      summary: 获取管理员
      operationId: GetAccount
      tags:
        - 管理员
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新管理员
      operationId: UpdateAccount
      tags:
        - 管理员
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateAccount'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    delete:
      summary: 删除管理员
      operationId: DeleteAccount
      tags:
        - 管理员
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/orders:
    get:
      summary: 获取订单列表
      operationId: ListOrders
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - $ref: '#/components/parameters/CollectorId'
        - $ref: '#/components/parameters/CollectorUsername'
        - $ref: '#/components/parameters/MerchantId'
        - $ref: '#/components/parameters/PayFormat'
        - $ref: '#/components/parameters/PayState'
        - $ref: '#/components/parameters/PayType'
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/OrderSn'
        - $ref: '#/components/parameters/MerchantOrderId'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/order/{id}:
    get:
      summary: 获取订单详情
      operationId: GetOrder
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新订单
      operationId: UpdateOrder
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrder'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/order/notifies:
    get:
      summary: 获取订单通知列表
      operationId: GetNotifies
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/OrderSn'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - name: state
          in: query
          description: 通知状态
          schema:
            $ref: '#/components/schemas/NotifyState'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notify'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/order/notify/{id}:
    get:
      summary: 获取订单通知详情
      operationId: GetNotify
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    post:
      summary: 发送订单通知
      operationId: SendNotify
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/order/ip/rates:
    get:
      summary: 获取IP成功率列表
      operationId: GetIpRates
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - $ref: '#/components/parameters/UserId'
        - name: ip
          in: query
          description: IP
          schema:
            type: string
        - name: state
          in: query
          description: IP状态
          schema:
            $ref: '#/components/schemas/IpState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/IpRate'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/order/ip/blacklist:
    get:
      summary: 获取IP黑名单
      operationId: GetIpBlacklist
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - $ref: '#/components/parameters/UserId'
        - name: ip
          in: query
          description: IP
          schema:
            type: string
        - name: state
          in: query
          description: 记录状态
          schema:
            $ref: '#/components/schemas/RecordState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/IpBlacklist'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    post:
      summary: 添加IP黑名单
      operationId: createIpBlacklist
      tags:
        - 订单
      requestBody:
        $ref: '#/components/requestBodies/CreateIpBlacklist'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 批量更新IP黑名单状态
      operationId: batchUpdateIpBlacklist
      tags:
        - 订单
      requestBody:
        $ref: '#/components/requestBodies/BatchUpdateIpListState'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchants:
    get:
      summary: 获取商户列表
      operationId: ListMerchants
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/ParentId'
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Nickname'
        - $ref: '#/components/parameters/Remark'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/UserListState'
        - $ref: '#/components/parameters/Agent'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/Merchant'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant:
    post:
      summary: 创建商户
      operationId: CreateMerchant
      tags:
        - 商户
      requestBody:
        $ref: '#/components/requestBodies/CreateMerchant'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/{id}:
    get:
      summary: 获取商户
      operationId: GetMerchant
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新商户
      operationId: UpdateMerchant
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateMerchant'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/reviews:
    get:
      summary: 获取商户审核列表
      operationId: ListMerchantReviews
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/ParentId'
        - $ref: '#/components/parameters/Nickname'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/Agent'
        - $ref: '#/components/parameters/UserReviewState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/MerchantReview'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/review/{id}:
    get:
      summary: 获取商户审核
      operationId: GetMerchantReview
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantReviewDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新商户审核
      operationId: UpdateMerchantReview
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateMerchantReview'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/withdraws:
    get:
      summary: 获取商户提现列表
      operationId: ListMerchantWithdraws
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/OrderState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/MerchantWithdrawOrder'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/withdraw/{id}:
    get:
      summary: 获取商户提现单
      operationId: GetMerchantWithdraw
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantWithdrawOrderDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新商户提现单
      operationId: UpdateMerchantWithdraw
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrderCommon'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/bankCards:
    get:
      summary: 获取商户银行卡列表
      operationId: ListMerchantBankCards
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/BankAccount'
        - $ref: '#/components/parameters/RecordState'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/BankCard'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/bankCard:
    post:
      summary: 创建商户银行卡
      operationId: CreateMerchantBankCard
      tags:
        - 商户
      requestBody:
        $ref: '#/components/requestBodies/CreateBankCard'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/bankCard/{id}:
    get:
      summary: 获取商户银行卡
      operationId: GetMerchantBankCard
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankCard'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新商户银行卡
      operationId: UpdateMerchantBankCard
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateBankCard'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    delete:
      summary: 删除商户银行卡
      operationId: DeleteMerchantBankCard
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/moneyLogs:
    get:
      summary: 获取商户资金日志列表
      operationId: ListMerchantMoneyLogs
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/MerchantMoneyLogType'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/MerchantMoneyLog'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/statistics:
    get:
      summary: 获取商户统计列表
      operationId: ListMerchantStatistics
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/StatisticOrderUserDateChannel'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /admin/collectors:
    get:
      summary: 获取码商列表
      operationId: ListCollectors
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/ParentId'
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Nickname'
        - $ref: '#/components/parameters/Remark'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/WorkState'
        - $ref: '#/components/parameters/UserListState'
        - $ref: '#/components/parameters/Agent'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/Online'
        - $ref: '#/components/parameters/LevelId'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/Collector'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector:
    post:
      summary: 创建码商
      operationId: CreateCollector
      tags:
        - 码商
      requestBody:
        $ref: '#/components/requestBodies/CreateCollector'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/{id}:
    get:
      summary: 获取码商
      operationId: GetCollector
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectorDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新码商
      operationId: UpdateMerchant
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateCollector'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/levels:
    get:
      summary: 获取码商等级列表
      operationId: ListCollectorLevels
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/UserLevel'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/level:
    post:
      summary: 创建码商等级
      operationId: CreateCollectorLevel
      tags:
        - 码商
      requestBody:
        $ref: '#/components/requestBodies/CreateUserLevel'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/level/{id}:
    get:
      summary: 获取码商等级信息
      operationId: GetCollectorLevel
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLevel'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新码商等级
      operationId: UpdateCollectorLevel
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateUserLevel'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/reviews:
    get:
      summary: 获取码商审核列表
      operationId: ListCollectorReviews
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/ParentId'
        - $ref: '#/components/parameters/Nickname'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/Agent'
        - $ref: '#/components/parameters/UserReviewState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/CollectorReview'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/review/{id}:
    get:
      summary: 获取码商审核
      operationId: GetCollectorReview
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectorReviewDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新码商审核
      operationId: UpdateCollectorReview
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateCollectorReview'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/recharges:
    get:
      summary: 获取码商充值列表
      operationId: ListCollectorRecharges
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/OrderState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/CollectorRechargeOrder'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/recharge/{id}:
    get:
      summary: 获取码商充值单
      operationId: GetCollectorRecharge
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectorRechargeOrderDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新码商充值单
      operationId: UpdateCollectorRecharge
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrderCommon'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/withdraws:
    get:
      summary: 获取码商提现列表
      operationId: ListCollectorWithdraws
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/OrderState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/CollectorWithdrawOrder'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/withdraw/{id}:
    get:
      summary: 获取码商提现单
      operationId: GetCollectorWithdraw
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectorWithdrawOrderDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新码商提现单
      operationId: UpdateCollectorWithdraw
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrderCommon'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/routes:
    get:
      summary: 获取码商通道列表
      operationId: ListCollectorRoutes
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/RouteState'
        - $ref: '#/components/parameters/BankAccount'
        - $ref: '#/components/parameters/PayType'
        - $ref: '#/components/parameters/ProvinceId'
        - $ref: '#/components/parameters/CityId'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/Route'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/route/{id}:
    get:
      summary: 获取码商通道详情
      operationId: GetCollectorRoute
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新码商通道
      operationId: UpdateCollectorRoute
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateCollectorRoute'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/route/batch-update-state:
    put:
      summary: 批量更新通道状态
      operationId: BatchUpdateCollectorRouteState
      tags:
        - 码商
      requestBody:
        $ref: '#/components/requestBodies/BatchUpdateRouteState'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/moneyLogs:
    get:
      summary: 获取码商资金日志列表
      operationId: ListCollectorMoneyLogs
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/CollectorMoneyLogType'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/CollectorMoneyLog'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /admin/finance/platform:
    get:
      summary: 查询平台收益列表
      operationId: ListPlatformFinances
      tags:
        - 财务
      parameters:
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/StatisticPlatformIncome'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/finance/merchant:
    get:
      summary: 查询商户统计列表
      operationId: ListMerchantFinances
      tags:
        - 财务
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/StatisticMerchant'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/finance/collector:
    get:
      summary: 查询码商统计列表
      operationId: ListCollectorFinances
      tags:
        - 财务
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/StatisticCollector'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /admin/merchant-agent/withdraws:
    get:
      summary: 获取商户代理提现列表
      operationId: ListMerchantWithdraws
      tags:
        - 商户代理
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/OrderState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/MerchantAgentWithdrawOrder'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant-agent/withdraw/{id}:
    get:
      summary: 获取商户代理提现单
      operationId: GetMerchantAgentWithdraw
      tags:
        - 商户代理
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantAgentWithdrawOrderDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新商户代理提现单
      operationId: UpdateMerchantAgentWithdraw
      tags:
        - 商户代理
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrderCommon'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /admin/collector-agent/withdraws:
    get:
      summary: 获取码商代理提现列表
      operationId: ListCollectorWithdraws
      tags:
        - 码商代理
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/OrderState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/CollectorAgentWithdrawOrder'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector-agent/withdraw/{id}:
    get:
      summary: 获取码商代理提现单
      operationId: GetCollectorAgentWithdraw
      tags:
        - 码商代理
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectorAgentWithdrawOrderDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新码商代理提现单
      operationId: UpdateCollectorAgentWithdraw
      tags:
        - 码商代理
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrderCommon'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

components:
  schemas:
    IsOnline:
      type: boolean
      description: 是否在线
    AdminState:
      type: string
      enum: [ban, enable]
      description: >
        管理员状态:
          * `ban` - 禁用
          * `enable` - 启用
    UserState:
      type: string
      enum: [ban, enable, lock]
      description: >
        用户状态:
          * `ban` - 禁用
          * `enable` - 启用
          * `lock`  - 锁定
    ReviewState:
      type: string
      enum: [underReview, reviewReject]
      description: >
        审核状态:
          * `underReview` - 审核中
          * `reviewReject` - 审核拒绝
    UpdateReviewState:
      type: string
      enum: [enable, reviewReject]
      description: >
        审核状态:
          * `enable` - 审核通过
          * `reviewReject` - 审核拒绝
    PayFormat:
      type: string
      enum: [normal, manual]
      description: >
        商户单类型:
          * `normal` - 正常订单
          * `manual` - 手工补单
    PayState:
      type: string
      enum: [unpaid, paid, cancel]
      description: >
        商户单支付状态:
          * `unpaid` - 未支付
          * `paid` - 已支付
          * `cancel`  - 已取消
    PayType:
      type: string
      enum: [wechat, alipay]
      description: >
        商户单支付类型:
          * `wechat` - 微信
          * `alipay` - 支付宝
    NotifyState:
      type: string
      enum: [running, success, fail]
      description: >
        通知状态:
          * `running` - 正在通知
          * `success` - 通知成功
          * `fail`  - 超出尝试通知的次数，通知失败
    EncryptType:
      type: string
      enum: [aes, md5]
      description: >
        数据加密类型:
          * `aes` - AES
          * `md5` - MD5
    IpState:
      type: string
      enum: [normal, banMerchant, banGlobal]
      description: >
        IP禁用状态:
          * `normal` - 正常使用
          * `banMerchant` - 商户禁用
          * `banGlobal` - 全局禁用
    OrderState:
      type: string
      enum: [new, unpaid, underReview, complete, cancel]
      description: >
        订单状态:
          * `new` - 新增
          * `unpaid` - 未支付
          * `underReview`  - 审核中
          * `complete` - 已完成
          * `cancel` - 已取消
    UpdateOrderState:
      type: string
      enum: [complete, cancel]
      description: >
        审核订单状态:
          * `complete` - 完成订单
          * `cancel` - 拒绝订单
    RecordState:
      type: string
      enum: [disable, enable, delete]
      description: >
        数据状态:
          * `disable` - 禁用
          * `enable` - 启用
          * `delete`  - 删除
    RateType:
      type: string
      enum: [percent, absolute]
      default: percent
      description: >
        费率计算类型:
          * `percent` - 百分比
          * `absolute` - 绝对值
    ChannelType:
      type: string
      enum: [wechat, alipay, bank]
      description: >
        通道类型:
          * `wechat` - 微信
          * `alipay` - 支付宝
          * `bank` - 银行
    ChannelRate:
      type: object
      description: 通道费率以及计算类型
      properties:
        type:
          $ref: '#/components/schemas/RateType'
        value:
          type: number
          description: 数值
    Channel:
      type: object
      description: 通道信息
      properties:
        wechat:
          $ref: '#/components/schemas/ChannelRate'
        alipay:
          $ref: '#/components/schemas/ChannelRate'
        bank:
          $ref: '#/components/schemas/ChannelRate'
    Account:
      type: object
      description: 管理员信息
      properties:
        id:
          type: number
          format: int64
          description: ID
        username:
          type: string
          description: 登录名
        nickname:
          type: string
          description: 昵称
        phone:
          type: string
          description: 手机号码
        state:
          $ref: '#/components/schemas/AdminState'
        createAt:
          type: string
          format: 'date-time'
          description: 创建时间
        loginAt:
          type: string
          format: 'date-time'
          description: 登陆时间
        loginIp:
          type: string
          description: 登陆IP
        isBindOTP:
          type: boolean
          description: 是否绑定谷歌验证
    Order:
      type: object
      description: 商户单信息
      properties:
        id:
          type: string
          description: 订单ID
        orderSn:
          type: string
          description: 订单号
        type:
          $ref: '#/components/schemas/PayFormat'
        state:
          $ref: '#/components/schemas/PayState'
        collectorId:
          type: number
          format: int64
          description: 码商ID
        collectorUsername:
          type: string
          description: 码商账户名
        collectorRate:
          type: number
          description: 码商接单时的费率
        collectorCommission:
          type: number
          format: double
          description: 码商完成该订单能获得的佣金
        channelName:
          type: string
          description: 通道名称
        channelType:
          $ref: '#/components/schemas/PayType'
        channelImage:
          type: string
          description: 通道的二维码
        merchantId:
          type: number
          format: int64
          description: 商户ID
        merchantNickname:
          type: string
          description: 商户昵称
        merchantRate:
          type: number
          description: 商户手续费率
        merchantFee:
          type: number
          format: double
          description: 商户完成该订单需要支付的手续费
        merchantOrderSn:
          type: string
          description: 商户单号
        amount:
          type: number
          format: double
          description: 下单金额
        actualAmount:
          type: number
          format: double
          description: 实付金额
        income:
          type: number
          format: double
          description: 平台收入
        merchantIncome:
          type: number
          format: double
          description: 商户收入
        superiorCollectorRebate:
          type: number
          format: double
          description: 上级码商分佣
        superiorMerchantRebate:
          type: number
          format: double
          description: 上级商户分佣
        createAt:
          type: string
          format: 'date-time'
          description: 下单时间
        bindAt:
          type: string
          format: 'date-time'
          description: 码商接单时间
        payAt:
          type: string
          format: 'date-time'
          description: 支付时间
        ip:
          type: string
          description: 下单时商户提供的用户IP
        country:
          type: string
          description: IP匹配的国家
        province:
          type: string
          description: IP匹配的省份
        city:
          type: string
          description: IP匹配的城市
    NotifyLog:
      type: object
      description: 订单通知的日志
      properties:
        id:
          type: number
          description: 日志ID
        code:
          type: integer
          description: 通知HTTP状态码
        message:
          type: string
          description: HTTP错误信息
        response:
          type: string
          description: 通知的响应结果
        createAt:
          type: string
          format: 'date-time'
          description: 通知时间
    Notify:
      type: object
      description: 订单通知信息
      properties:
        id:
          type: number
          description: 通知ID
        orderSn:
          type: string
          description: 订单号
        payAt:
          type: string
          format: 'date-time'
        count:
          type: integer
          description: 通知次数
        state:
          $ref: '#/components/schemas/NotifyState'
        type:
          $ref: '#/components/schemas/EncryptType'
    NotifyDetail:
      allOf:
        - $ref: '#/components/schemas/Notify'
        - type: object
          description: 订单通知详情信息
          properties:
            merchantOrderSn:
              type: string
              description: 商户订单号
            amount:
              type: number
              format: double
              description: 下单金额
            actualAmount:
              type: number
              format: double
              description: 实付金额
            createAt:
              type: string
              format: 'date-time'
              description: 下单时间
            logs:
              type: array
              description: 通知发送日志
              items:
                $ref: '#/components/schemas/NotifyLog'
    IpRate:
      type: object
      description: IP成功率信息
      properties:
        ip:
          type: string
          description: IP
        merchantId:
          type: number
          format: int64
          description: 商户ID
        totalCount:
          type: number
          format: int64
          description: 订单总数
        successCount:
          type: number
          format: int64
          description: 成功总数
        failCount:
          type: number
          format: int64
          description: 失败总数
        successRate:
          type: number
          format: double
          description: 成功率
        state:
          $ref: '#/components/schemas/IpState'
    IpBlacklist:
      type: object
      description: IP黑名单信息
      properties:
        id:
          type: number
          format: int64
          description: ID
        merchantId:
          type: number
          format: int64
          description: 商户ID，当值为-1时为全局禁用
        createAt:
          type: string
          format: 'date-time'
          description: 黑名单添加时间
        state:
          $ref: '#/components/schemas/RecordState'
        ip:
          type: string
          description: IP
    WorkState:
      type: string
      enum: [stopped, working]
      description: >
        工作状态:
          * `stopped` - 已停工
          * `working` - 开工中
    RouteState:
      type: string
      enum: [disable, enable, lock, delete, offShelves]
      description: >
        数据状态:
          * `disable` - 禁用
          * `enable` - 启用
          * `lock` - 锁定/风控
          * `delete`  - 删除
          * `offShelves`  - 下架


    UserLevel:
      type: object
      description: 用户等级
      properties:
        id:
          type: number
          description: ID
        name:
          type: string
          description: 等级名称
        createAt:
          type: string
          format: 'date-time'
          description: 创建时间
        delay:
          type: number
          description: 延迟显示（秒）
        remark:
          type: string
          description: 备注
        state:
          $ref: '#/components/schemas/AdminState'
    CuUserLevel:
      type: object
      description: 更新用户等级
      properties:
        name:
          type: string
          description: 等级名称
        delay:
          type: number
          description: 延迟显示（秒）
        remark:
          type: string
          description: 备注
        state:
          $ref: '#/components/schemas/AdminState'

    Route:
      type: object
      description: 支付通道信息
      properties:
        id:
          type: number
          description: 支付通道ID
        name:
          type: string
          description: 码商备注
        userId:
          type: number
          description: 码商ID
        username:
          type: string
          description: 码商用户名
        payType:
          $ref: '#/components/schemas/PayType'
        image:
          type: string
          description: 二维码地址
        state:
          $ref: '#/components/schemas/RouteState'
        minAmount:
          type: number
          description: 最小金额
        maxAmount:
          type: number
          description: 最大金额
        totalAmount:
          type: number
          description: 总金额
        usableAmount:
          type: number
          description: 可用金额
        createAt:
          type: string
          format: 'date-time'
          description: 添加时间
        provinceId:
          type: number
          description: 省份ID
        provinceName:
          type: string
          description: 省份名
        cityId:
          type: number
          description: 城市ID
        cityName:
          type: string
          description: 城市名
        totalCount:
          type: number
          description: 总订单数
        totalSuccess:
          type: number
          description: 总成功订单数
        successRate:
          type: number
          description: 成功率

    RouteDetail:
      type: object
      description: 支付通道详情
      properties:
        id:
          type: number
          description: 支付通道ID
        name:
          type: string
          description: 码商备注
        userId:
          type: number
          description: 码商ID
        username:
          type: string
          description: 码商用户名
        payType:
          $ref: '#/components/schemas/PayType'
        image:
          type: string
          description: 二维码地址
        state:
          $ref: '#/components/schemas/RouteState'
        minAmount:
          type: number
          description: 最小金额
        maxAmount:
          type: number
          description: 最大金额
        totalAmount:
          type: number
          description: 总金额
        usableAmount:
          type: number
          description: 可用金额
        createAt:
          type: string
          format: 'date-time'
          description: 添加时间
        provinceId:
          type: number
          description: 省份ID
        provinceName:
          type: string
          description: 省份名
        cityId:
          type: number
          description: 城市ID
        cityName:
          type: string
          description: 城市名

    MoneyLogCommonType:
      type: string
      enum: [
        amountOrderAdd, amountSystemAdd, amountSystemSub, withdraw,
        rebate, lockAmountAdd, lockAmountSub
      ]
      description: >
        资金日志类型:
          * `amountOrderAdd` - 订单增加余额
          * `amountSystemAdd` - 后台增加余额
          * `amountSystemSub` - 后台减少余额
          * `withdraw` - 提现
          * `rebate` - 分佣
          * `lockAmountAdd` - 增加冻结金额
          * `lockAmountSub` - 释放冻结金额
    MerchantMoneyLogType:
      allOf:
        - $ref: '#/components/schemas/MoneyLogCommonType'
        - type: string
          enum: [amountOrderSub, withdrawFailed]
          description: >
            商户资金日志类型:
              * `amountOrderAdd` - 订单增加余额
              * `amountOrderSub` - 订单减少余额
              * `amountSystemAdd` - 后台增加余额
              * `amountSystemSub` - 后台减少余额
              * `withdraw` - 提现(余额减少)
              * `withdrawFailed` - 提现失败(余额增加)
              * `rebate` - 分佣
              * `lockAmountAdd` - 增加冻结金额
              * `lockAmountSub` - 释放冻结金额
    CollectorMoneyLogType:
      allOf:
        - $ref: '#/components/schemas/MoneyLogCommonType'
        - type: string
          enum: [
            recharge, amountToBalance, balanceToAmount,
            balance, balanceSystemAdd, balanceSystemSub
          ]
          description: >
            (码商|服务商)资金日志类型:
              * `amountOrderAdd` - 订单增加余额
              * `recharge` - 充值
              * `amountToBalance` - 余额转跑分
              * `balanceToAmount` - 跑分转余额
              * `balance` - 跑分
              * `amountSystemAdd` - 后台增加余额
              * `amountSystemSub` - 后台减少余额
              * `balanceSystemAdd` - 后台增加跑分
              * `balanceSystemSub` - 后台减少跑分
              * `withdraw` - 提现
              * `withdrawFailed` - 提现失败
              * `rebate` - 分佣
              * `lockAmountAdd` - 增加冻结金额
              * `lockAmountSub` - 释放冻结金额
    OrderType:
      type: string
      enum: [none, ordered, recharge, withdraw]
      description: >
        订单类型:
          * `none` - 无
          * `order` - 订单: *下单* 和 *接单*
          * `recharge` - 充值
          * `withdraw` - 提现
    MoneyLogCommon:
      type: object
      description: 资金日志
      properties:
        id:
          type: number
          description: 日志ID
        userId:
          type: number
          description: 用户ID
        amount:
          type: number
          description: 日志涉及金额
        afterAmount:
          type: number
          description: 操作后金额
        createAt:
          type: string
          format: 'date-time'
          description: 日志生成时间
        note:
          type: string
          description: 日志描述
        orderId:
          type: number
          description: 关联的订单ID
        orderType:
          $ref: '#/components/schemas/OrderType'
    MerchantMoneyLog:
      description: 商户资金日志
      allOf:
        - $ref: '#/components/schemas/MoneyLogCommon'
        - type: object
          properties:
            type:
              $ref: '#/components/schemas/MerchantMoneyLogType'
    CollectorMoneyLog:
      description: 码商|服务商资金日志
      allOf:
        - $ref: '#/components/schemas/MoneyLogCommon'
        - type: object
          properties:
            type:
              $ref: '#/components/schemas/CollectorMoneyLogType'

    CuAccount:
      type: object
      properties:
        username:
          type: string
          description: 登录名
        nickname:
          type: string
          description: 昵称
        password:
          type: string
          format: password
          description: 登陆密码
        phone:
          type: string
          description: 手机号码
        state:
          $ref: '#/components/schemas/AdminState'

    UserCommon:
      type: object
      description: 用户通用字段
      properties:
        parentId:
          type: number
          format: int64
          description: 上级ID
        id:
          type: number
          format: int64
          description: 用户ID
        agent:
          type: boolean
          description: 是否是代理
        nickname:
          type: string
          description: 昵称
        remark:
          type: string
          description: 后台备注
        phone:
          type: string
          description: 手机号
        amount:
          type: number
          description: 余额
        lockAmount:
          type: number
          description: 锁定金额
        withdrawAmount:
          type: number
          description: 提现总金额
        rebateAmount:
          type: number
          description: 返佣总金额
        state:
          $ref: '#/components/schemas/UserState'
        withdrawFeeType:
          $ref: '#/components/schemas/RateType'
        withdrawFee:
          type: number
          description: 提现手续费
        createAt:
          type: string
          description: 用户创建时间
        isBindOTP:
          type: boolean
          description: 是否绑定谷歌验证
    Merchant:
      allOf:
        - $ref: '#/components/schemas/UserCommon'
        - type: object
          description: 商户信息
          properties:
            channel:
              $ref: '#/components/schemas/Channel'
            minPay:
              type: number
              description: 最小下单金额
            maxPay:
              type: number
              description: 最大下单金额
            minWithdraw:
              type: number
              description: 最小提现金额
            maxWithdraw:
              type: number
              description: 最大提现金额
    MerchantDetail:
      allOf:
        - $ref: '#/components/schemas/Merchant'
        - type: object
          description: 商户详情
          properties:
            parentNickname:
              type: string
              description: 上级昵称
            parentChannel:
              $ref: '#/components/schemas/Channel'
            key:
              type: string
              description: AES 加密KEY
            iv:
              type: string
              description: AES 加密IV
            openWechat:
              type: boolean
              description: 微信通道是否启用
            openAlipay:
              type: boolean
              description: 支付宝通道是否启用
    Collector:
      description: 码商信息
      allOf:
        - $ref: '#/components/schemas/UserCommon'
        - type: object
          properties:
            username:
              type: string
              description: 登陆账户
            channel:
              $ref: '#/components/schemas/Channel'
            balance:
              type: number
              description: 跑分余额
            workState:
              $ref: '#/components/schemas/WorkState'
            loginIp:
              type: string
              description: 登陆IP
            levelId:
              type: number
              description: 等级ID
            levelName:
              type: string
              description: 等级名称
            totalCount:
              type: number
              description: 总订单数
            totalSuccess:
              type: number
              description: 总成功订单数
            successRate:
              type: number
              description: 成功率
    CollectorDetail:
      description: 码商详情
      allOf:
        - $ref: '#/components/schemas/Collector'
        - type: object
          properties:
            parentNickname:
              type: string
              description: 上级昵称
            parentChannel:
              $ref: '#/components/schemas/Channel'
            rechargeFeeType:
              $ref: '#/components/schemas/RateType'
            rechargeFee:
              type: number
              description: 充值手续费

    ReviewCommon:
      type: object
      description: 用户审核
      properties:
        parentId:
          type: number
          description: 上级ID
        parentNickname:
          type: string
          description: 上级昵称
        id:
          type: string
          description: 用户ID
        nickname:
          type: string
          description: 昵称
        agent:
          type: boolean
          description: 是否是代理
        phone:
          type: string
          description: 手机号
        createAt:
          type: string
          format: 'date-time'
          description: 申请时间
        state:
          $ref: '#/components/schemas/ReviewState'
        auditorRemark:
          type: string
          description: 审核备注
    MerchantReview:
      allOf:
        - $ref: '#/components/schemas/ReviewCommon'
        - type: object
          description: 商户审核
          properties:
            channel:
              $ref: '#/components/schemas/Channel'
            minPay:
              type: number
              description: 最小下单金额
            maxPay:
              type: number
              description: 最大下单金额
            minWithdraw:
              type: number
              description: 最小提现金额
            maxWithdraw:
              type: number
              description: 最大提现金额
    MerchantReviewDetail:
      allOf:
        - $ref: '#/components/schemas/MerchantReview'
        - type: object
          description: 商户审核详情
          properties:
            parentWithdrawFee:
              type: number
              description: 上级提现手续费
            parentChannel:
              $ref: '#/components/schemas/Channel'
    CollectorReview:
      allOf:
        - $ref: '#/components/schemas/ReviewCommon'
        - type: object
          description: 码商审核
    CollectorReviewDetail:
      allOf:
        - $ref: '#/components/schemas/MerchantReview'
        - type: object
          description: 商户审核详情
          properties:
            parentNickname:
              type: string
              description: 上级昵称
            parentWithdrawFeeType:
              $ref: '#/components/schemas/RateType'
            parentWithdrawFee:
              type: number
              description: 上级提现手续费
            parentRechargeFeeType:
              $ref: '#/components/schemas/RateType'
            parentRechargeFee:
              type: number
              description: 上级充值手续费
            parentChannel:
              $ref: '#/components/schemas/Channel'

    CuUserCommon:
      type: object
      description: 用户创建以及更新通用字段
      properties:
        parentId:
          type: number
          description: 上级ID[仅在创建时可设置]
        username:
          type: string
          description: 登陆账户
        nickname:
          type: string
          description: 昵称
        remark:
          type: string
          description: 备注
        agent:
          type: boolean
          description: 是否是代理
        password:
          type: string
          description: 登陆密码
        secretPassword:
          type: string
          description: 安全密码
        phone:
          type: string
          description: 手机号
        withdrawFee:
          type: number
          description: 提现手续费
        state:
          $ref: '#/components/schemas/UserState'
    CuMerchant:
      allOf:
        - $ref: '#/components/schemas/CuUserCommon'
        - type: object
          properties:
            channel:
              $ref: '#/components/schemas/Channel'
            minPay:
              type: number
              description: 最小下单金额
            maxPay:
              type: number
              description: 最大下单金额
            minWithdraw:
              type: number
              description: 最小提现金额
            maxWithdraw:
              type: number
              description: 最大提现金额
            key:
              type: string
              description: AES 加密KEY
            iv:
              type: string
              description: AES 加密IV
            openWechat:
              type: boolean
              description: 微信通道是否启用
            openAlipay:
              type: boolean
              description: 支付宝通道是否启用
    CuCollector:
      allOf:
        - $ref: '#/components/schemas/CuUserCommon'
        - type: object
          properties:
            channel:
              $ref: '#/components/schemas/Channel'
            rechargeFeeType:
              $ref: '#/components/schemas/RateType'
            rechargeFee:
              type: number
              description: 充值手续费
            workState:
              $ref: '#/components/schemas/WorkState'
            levelId:
              type: number
              description: 等级ID

    UpdateReviewCommon:
      type: object
      description: 用户审核更新通用字段
      properties:
        state:
          $ref: '#/components/schemas/UpdateReviewState'
        remark:
          type: string
          description: 后台备注
        auditorRemark:
          type: string
          description: 审核备注
        withdrawFee:
          type: number
          description: 提现手续费
    UpdateMerchantReview:
      allOf:
        - $ref: '#/components/schemas/UpdateReviewCommon'
        - type: object
          description: 更新商户审核数据
          properties:
            channel:
              $ref: '#/components/schemas/Channel'
            minPay:
              type: number
              description: 最小下单金额
            maxPay:
              type: number
              description: 最大下单金额
            minWithdraw:
              type: number
              description: 最小提现金额
            maxWithdraw:
              type: number
              description: 最大提现金额
    UpdateCollectorReview:
      allOf:
        - $ref: '#/components/schemas/UpdateReviewCommon'
        - type: object
          description: 更新商户审核数据
          properties:
            channel:
              $ref: '#/components/schemas/Channel'
            withdrawFeeType:
              $ref: '#/components/schemas/RateType'
            rechargeFeeType:
              $ref: '#/components/schemas/RateType'
            rechargeFee:
              type: number
              description: 充值手续费

    OrderCommon:
      type: object
      description: 订单通用字段
      properties:
        id:
          type: number
          description: 订单ID
        amount:
          type: number
          description: 金额
        actualAmount:
          type: number
          description: 实际金额
        fee:
          type: number
          description: 手续费
        remark:
          type: string
          description: 创建备注
        auditorRemark:
          type: string
          description: 审核备注
        createAt:
          type: string
          format: 'date-time'
          description: 创建实际
        state:
          $ref: '#/components/schemas/OrderState'
        processAt:
          type: string
          format: 'date-time'
          description: 处理时间
    AgentOrderCommon:
      type: object
      description: 代理订单通用字段
      properties:
        userId:
          type: number
          description: 代理ID
        nickname:
          type: string
          description: 代理昵称
        phone:
          type: string
          description: 代理手机
    OrderDetailCommon:
      type: object
      description: 订单详情通用字段
      properties:
        bankName:
          type: string
          description: 银行名称
        bankCardAccount:
          type: string
          description: 银行卡账户
        bankCardNumber:
          type: string
          description: 银行卡号
        bankCardAddress:
          type: string
          description: 银行卡地址
        payCredit:
          type: string
          description: 支付凭证
    OrderDetailWithPay:
      type: object
      properties:
        payBankName:
          type: string
          description: 支付银行名称
        payBankCardAccount:
          type: string
          description: 支付银行卡账户
        payBankCardNumber:
          type: string
          description: 支付银行卡号
        payBankCardAddress:
          type: string
          description: 支付银行卡地址
    MerchantWithdrawOrder:
      description: 商户提现单
      allOf:
        - $ref: '#/components/schemas/OrderCommon'
        - type: object
          properties:
            orderSn:
              type: string
              description: 订单号
            merchantId:
              type: number
              description: 商户ID
            merchantNickname:
              type: string
              description: 商户昵称
            merchantPhone:
              type: string
              description: 商户手机
            providerId:
              type: number
              description: 服务商ID
            providerUsername:
              type: string
              description: 服务商用户名
    MerchantWithdrawOrderDetail:
      description: 商户提现单详情
      allOf:
        - $ref: '#/components/schemas/MerchantWithdrawOrder'
        - $ref: '#/components/schemas/OrderDetailCommon'
        - $ref: '#/components/schemas/OrderDetailWithPay'
    MerchantAgentWithdrawOrder:
      description: 商户代理提现单
      allOf:
        - $ref: '#/components/schemas/OrderCommon'
        - $ref: '#/components/schemas/AgentOrderCommon'
    MerchantAgentWithdrawOrderDetail:
      description: 商户代理提现单详情
      allOf:
        - $ref: '#/components/schemas/MerchantAgentWithdrawOrder'
        - $ref: '#/components/schemas/OrderDetailCommon'
        - $ref: '#/components/schemas/OrderDetailWithPay'
    CollectorRechargeOrder:
      description: 码商充值单
      allOf:
        - $ref: '#/components/schemas/OrderCommon'
        - type: object
          properties:
            collectorId:
              type: number
              description: 码商ID
            collectorUsername:
              type: string
              description: 码商用户名
            collectorNickname:
              type: string
              description: 码商昵称
            providerId:
              type: number
              description: 服务商ID
            providerUsername:
              type: string
              description: 服务商用户名
            providerNickname:
              type: string
              description: 服务商昵称
    CollectorRechargeOrderDetail:
      description: 码商充值单详情
      allOf:
        - $ref: '#/components/schemas/CollectorRechargeOrder'
        - $ref: '#/components/schemas/OrderDetailCommon'
        - $ref: '#/components/schemas/OrderDetailWithPay'
    CollectorWithdrawOrder:
      description: 码商提现单
      allOf:
        - $ref: '#/components/schemas/OrderCommon'
        - type: object
          properties:
            orderSn:
              type: string
              description: 订单号
            collectorId:
              type: number
              description: 码商ID
            collectorUsername:
              type: string
              description: 码商用户名
            collectorNickname:
              type: string
              description: 码商昵称
            providerId:
              type: number
              description: 服务商ID
            providerUsername:
              type: string
              description: 服务商用户名
            providerNickname:
              type: string
              description: 服务商昵称
    CollectorWithdrawOrderDetail:
      description: 码商提现单详情
      allOf:
        - $ref: '#/components/schemas/CollectorRechargeOrder'
        - $ref: '#/components/schemas/OrderDetailCommon'
        - $ref: '#/components/schemas/OrderDetailWithPay'
    CollectorAgentWithdrawOrder:
      description: 码商代理提现单
      allOf:
        - $ref: '#/components/schemas/OrderCommon'
        - $ref: '#/components/schemas/AgentOrderCommon'
    CollectorAgentWithdrawOrderDetail:
      description: 码商代理提现单详情
      allOf:
        - $ref: '#/components/schemas/CollectorAgentWithdrawOrder'
        - $ref: '#/components/schemas/OrderDetailCommon'
        - $ref: '#/components/schemas/OrderDetailWithPay'

    UpdateOrderCommon:
      type: object
      description: 更新订单通用字段
      properties:
        state:
          $ref: '#/components/schemas/UpdateOrderState'
        auditorRemark:
          type: string
          description: 审核备注

    BankCard:
      type: object
      description: 银行卡
      properties:
        userId:
          type: number
          description: 用户ID
        id:
          type: number
          description: 银行卡ID
        name:
          type: string
          description: 银行名称
        account:
          type: string
          description: 银行开户名
        cardNumber:
          type: string
          description: 银行卡号
        address:
          type: string
          description: 银行地址
        createAt:
          type: string
          format: 'date-time'
          description: 银行卡创建时间
        state:
          $ref: '#/components/schemas/RecordState'
    CuBankCard:
      type: object
      description: 创建以及更新银行卡
      properties:
        userId:
          type: number
          description: 银行卡涉及的用户ID
        bankId:
          type: number
          description: 银行ID
        account:
          type: string
          description: 银行开户名
        cardNumber:
          type: string
          description: 银行卡号
        address:
          type: string
          description: 银行地址
        state:
          $ref: '#/components/schemas/RecordState'

    StatisticOrderCommon:
      type: object
      description: 统计通用字段
      properties:
        totalCount:
          type: number
          description: 总订单数
        totalSuccess:
          type: number
          description: 总成功订单数
        totalAmount:
          type: number
          description: 总订单金额
        totalSuccessAmount:
          type: number
          description: 总成功订单金额
        successRate:
          type: number
          description: 成功率
    StatisticOrderUserDateChannel:
      description: 按用户、日期以及通道统计订单
      allOf:
        - $ref: '#/components/schemas/StatisticOrderCommon'
        - type: object
          properties:
            date:
              type: string
              format: date
              description: 日期
            userId:
              type: number
              description: 用户ID
            channelType:
              $ref: '#/components/schemas/ChannelType'
    StatisticPlatformIncome:
      type: object
      description: 平台统计
      properties:
        date:
          type: string
          format: 'date'
          description: 统计日期
        merchantOrderIncome:
          type: number
          description: 商户订单收益
        collectorWithdrawIncome:
          type: number
          description: 码商提现收益
        businessWithdrawIncome:
          type: number
          description: 商户提现收益
        totalIncome:
          type: number
          description: 总收益
    StatisticUserCommon:
      type: object
      description: 用户[商户|码商]统计
      properties:
        userId:
          type: number
          description: 用户ID
        amount:
          type: number
          description: 当前账户余额
        totalOrderCount:
          type: number
          description: 订单总数
        totalOrderAmount:
          type: number
          description: 订单总金额
        totalWithdrawAmount:
          type: number
          description: 提现总金额
        totalSuccessWithdrawAmount:
          type: number
          description: 提现成功总金额
    StatisticMerchant:
      description: 商户统计
      allOf:
        - $ref: '#/components/schemas/StatisticUserCommon'
        - type: object
          properties:
            totalOrderFee:
              type: number
              description: 订单总手续费
    StatisticCollector:
      description: 码商统计
      allOf:
        - $ref: '#/components/schemas/StatisticUserCommon'
        - type: object
          properties:
            lockAmount:
              type: number
              description: 冻结金额
            commission:
              type: number
              description: 当前佣金余额
            totalOrderCommission:
              type: number
              description: 订单总佣金

    ApiErrorResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string

  responses:
    UnauthorizedError:
      description: Access token is missing or invalid

  requestBodies:
    CreateAccount:
      description: 创建管理员
      required: true
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/CuAccount'
              - type: object
                description: 配置
                required:
                  - username
                  - nickname
                  - password
                  - phone
                  - state
    UpdateAccount:
      description: 编辑管理员
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CuAccount'
    UpdateOrder:
      description: 编辑订单
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              actualAmount:
                type: number
                format: double
                description: 实付金额
              state:
                type: string
                enum: [paid, cancel]
                description: >
                  支付状态:
                    * `paid` - 已支付
                    * `cancel`  - 关闭订单
            required:
              - state
    CreateIpBlacklist:
      description: 添加黑名单
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              merchantId:
                type: number
                format: int64
                description: 商户ID，当为-1时全局禁用
              ip:
                type: string
                description: 添加黑名单的IP
    CreateMerchant:
      description: 创建商户
      required: true
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/CuMerchant'
              - type: object
                required:
                  - nickname
                  - agent
                  - secretPassword
                  - phone
                  - withdrawFee
                  - state
                  - channel
                  - minPay
                  - maxPay
                  - minWithdraw
                  - maxWithdraw
                  - key
                  - iv
                  - openWechat
                  - openAlipay
    UpdateMerchant:
      description: 更新商户
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CuMerchant'
    CreateCollector:
      description: 创建码商
      required: true
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/CuCollector'
              - type: object
                required:
                  - username
                  - nickname
                  - agent
                  - password
                  - secretPassword
                  - phone
                  - withdrawFeeType
                  - withdrawFee
                  - rechargeFeeType
                  - rechargeFee
                  - state
                  - channel
                  - levelId
                  - workState
    UpdateCollector:
      description: 更新码商
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CuCollector'

    UpdateMerchantReview:
      description: 更新商户审核
      required: true
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/UpdateMerchantReview'
              - type: object
                required:
                  - state
    UpdateCollectorReview:
      description: 更新码商审核
      required: true
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/UpdateCollectorReview'
              - type: object
                required:
                  - state

    UpdateCollectorRoute:
      description: 更新码商通道
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: 码商备注
              minAmount:
                type: number
                description: 最小金额
              maxAmount:
                type: number
                description: 最大金额
              totalAmount:
                type: number
                description: 总金额
              state:
                $ref: '#/components/schemas/RouteState'

    CreateUserLevel:
      description: 创建用户等级
      required: true
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/CuUserLevel'
              - type: object
                required:
                  - name
                  - delay
                  - state
    UpdateUserLevel:
      description: 创建用户等级
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CuUserLevel'

    UpdateOrderCommon:
      description: 更新订单
      required: true
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/UpdateOrderCommon'
              - type: object
                required:
                  - state
    CreateBankCard:
      description: 创建银行卡
      required: true
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/CuBankCard'
              - type: object
                required:
                  - userId
                  - bankId
                  - account
                  - cardNumber
                  - address
    UpdateBankCard:
      description: 更新银行卡
      required: true
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/CuBankCard'
              - type: object
                required:
                  - userId

    BatchUpdateIpListState:
      description: 批量更新IP黑名单状态
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              ids:
                type: array
                items:
                  type: number
                description: 批量更新IP黑名单ID
              state:
                $ref: '#/components/schemas/AdminState'

    BatchUpdateRouteState:
      description: 批量更新通道状态
      required: true
      content:
        application/json:
          schema:
            properties:
              ids:
                type: array
                items:
                  type: number
                description: 批量更新通道ID
              state:
                $ref: '#/components/schemas/RouteState'

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: text

  parameters:
    PageablePage:
      name: page
      in: query
      description: 页数
      required: false
      schema:
        type: number
        default: 1
    PageableSize:
      name: size
      in: query
      description: 页大小
      required: false
      schema:
        type: number
        default: 10
    QueryStart:
      name: fromTime
      in: query
      description: 开始时间
      schema:
        type: string
        format: 'date-time'
    QueryEnd:
      name: toTime
      in: query
      description: 结束时间
      schema:
        type: string
        format: 'date-time'
    Id:
      name: id
      in: path
      description: 数据ID
      required: true
      schema:
        type: number
        format: int64
    ParentId:
      name: parentId
      in: query
      description: 上级ID
      schema:
        type: number
        format: int64
    UserId:
      name: userId
      in: query
      description: 用户ID
      schema:
        type: number
        format: int64
    Nickname:
      name: nickname
      in: query
      description: 昵称
      schema:
        type: string
    Remark:
      name: remark
      in: query
      description: 备注
      schema:
        type: string
    Phone:
      name: phone
      in: query
      description: 手机号
      schema:
        type: string
    UserListState:
      name: state
      in: query
      description: 账户查询状态
      schema:
[...]
