openapi: 3.0.1
info:
  title: Admin API
  version: 1.0.2
servers:
  - url: https://admin-api.zsf918.com/v1
tags:
  - name: 仪表盘
    description: 仪表盘API
  - name: 设置
    description: 系统设置API
  - name: 管理员
    description: 管理员账户API
  - name: 订单
    description: 订单API
  - name: 商户
    description: 商户API
  - name: 码商
    description: 码商API
  - name: 服务商
    description: 服务商API
  - name: 财务
    description: 财务API
  - name: 商户代理
    description: 商户代理API
  - name: 码商代理
    description: 码商代理API
  - name: 服务商代理
    description: 服务商代理API
paths:

  /admin/dashboard/summary/merchant-order:
    get:
      summary: 商户订单总计
      operationId: GetDashboardSummaryMerchantOrder
      tags:
        - 仪表盘
      parameters:
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryMerchantOrder'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/dashboard/summary/collector:
    get:
      summary: 码商总计
      operationId: GetDashboardSummaryCollector
      tags:
        - 仪表盘
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                description: 码商总计
                allOf:
                  - $ref: '#/components/schemas/SummaryAppendUser'
                  - $ref: '#/components/schemas/SummaryWithdraw'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/dashboard/summary/merchant:
    get:
      summary: 商户总计
      operationId: GetDashboardSummaryMerchant
      tags:
        - 仪表盘
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                description: 商户总计
                allOf:
                  - $ref: '#/components/schemas/SummaryUser'
                  - $ref: '#/components/schemas/SummaryWithdraw'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/dashboard/summary/route:
    get:
      summary: 通道总计
      operationId: GetDashboardSummaryRoute
      tags:
        - 仪表盘
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryRoute'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/dashboard/summary/basic:
    get:
      summary: 基础信息总计
      operationId: GetDashboardSummaryBaisc
      tags:
        - 仪表盘
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryBasic'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /admin/setting/bank:
    post:
      summary: 创建银行
      operationId: CreateBank
      tags:
        - 设置
      requestBody:
        $ref: '#/components/requestBodies/CreateBank'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/setting/bank/{id}:
    get:
      summary: 获取银行
      operationId: GetBank
      tags:
        - 设置
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bank'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新银行
      operationId: UpdateBank
      tags:
        - 设置
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateBank'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    delete:
      summary: 删除银行
      operationId: DeleteBank
      tags:
        - 设置
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/setting/config:
    post:
      summary: 创建配置
      operationId: CreateConfig
      tags:
        - 设置
      requestBody:
        $ref: '#/components/requestBodies/CreateConfig'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/setting/config/{id}:
    get:
      summary: 获取配置
      operationId: GetConfig
      tags:
        - 设置
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新配置
      operationId: UpdateConfig
      tags:
        - 设置
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateConfig'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    delete:
      summary: 删除配置
      operationId: DeleteConfig
      tags:
        - 设置
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /admin/accounts:
    get:
      summary: 获取管理员列表
      operationId: ListAccounts
      tags:
        - 管理员
      parameters:
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/Account'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/account:
    post:
      summary: 创建管理员
      operationId: CreateAccount
      tags:
        - 管理员
      requestBody:
        $ref: '#/components/requestBodies/CreateAccount'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/account/{id}:
    get:
      summary: 获取管理员
      operationId: GetAccount
      tags:
        - 管理员
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新管理员
      operationId: UpdateAccount
      tags:
        - 管理员
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateAccount'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    delete:
      summary: 删除管理员
      operationId: DeleteAccount
      tags:
        - 管理员
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/orders:
    get:
      summary: 获取订单列表
      operationId: ListOrders
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - $ref: '#/components/parameters/CollectorId'
        - $ref: '#/components/parameters/CollectorUsername'
        - $ref: '#/components/parameters/MerchantId'
        - $ref: '#/components/parameters/PayFormat'
        - $ref: '#/components/parameters/PayState'
        - $ref: '#/components/parameters/ChannelType'
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/OrderSn'
        - $ref: '#/components/parameters/MerchantOrderId'
        - $ref: '#/components/parameters/Username'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/order/{id}:
    get:
      summary: 获取订单详情
      operationId: GetOrder
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新订单
      operationId: UpdateOrder
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrder'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/order/logs:
    get:
      summary: 获取下单日志列表
      operationId: ListOrderLogs
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/MerchantId'
        - $ref: '#/components/parameters/MerchantOrderId'
        - name: strategy
          in: query
          description: 策略
          schema:
            $ref: '#/components/schemas/PayStrategy'
        - name: status
          in: query
          description: 下单状态
          schema:
            $ref: '#/components/schemas/PayResult'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderLog'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/order/log/{id}:
    get:
      summary: 获取订单日志详情
      operationId: GetOrderLog
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderLogDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/order/notifies:
    get:
      summary: 获取订单通知列表
      operationId: GetNotifies
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/OrderSn'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - name: state
          in: query
          description: 通知状态
          schema:
            $ref: '#/components/schemas/NotifyState'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notify'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/order/notify/{id}:
    get:
      summary: 获取订单通知详情
      operationId: GetNotify
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    post:
      summary: 发送订单通知
      operationId: SendNotify
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/order/ip/rates:
    get:
      summary: 获取IP成功率列表
      operationId: GetIpRates
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - $ref: '#/components/parameters/UserId'
        - name: ip
          in: query
          description: IP
          schema:
            type: string
        - name: state
          in: query
          description: IP状态
          schema:
            $ref: '#/components/schemas/IpState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/IpRate'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/order/ip/blacklist:
    get:
      summary: 获取IP黑名单
      operationId: GetIpBlacklist
      tags:
        - 订单
      parameters:
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - $ref: '#/components/parameters/UserId'
        - name: ip
          in: query
          description: IP
          schema:
            type: string
        - name: state
          in: query
          description: 记录状态
          schema:
            $ref: '#/components/schemas/RecordState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/IpBlacklist'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    post:
      summary: 添加IP黑名单
      operationId: createIpBlacklist
      tags:
        - 订单
      requestBody:
        $ref: '#/components/requestBodies/CreateIpBlacklist'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 批量更新IP黑名单状态
      operationId: batchUpdateIpBlacklist
      tags:
        - 订单
      requestBody:
        $ref: '#/components/requestBodies/BatchUpdateIpListState'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /admin/merchants:
    get:
      summary: 获取商户列表
      operationId: ListMerchants
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/ParentId'
        - $ref: '#/components/parameters/ParentUsername'
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Nickname'
        - $ref: '#/components/parameters/Remark'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/UserListState'
        - $ref: '#/components/parameters/LevelId'
        - $ref: '#/components/parameters/Agent'
        - $ref: '#/components/parameters/Summary'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/Merchant'
                  summary:
                    $ref: '#/components/schemas/SummaryUser'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant:
    post:
      summary: 创建商户
      operationId: CreateMerchant
      tags:
        - 商户
      requestBody:
        $ref: '#/components/requestBodies/CreateMerchant'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/{id}:
    get:
      summary: 获取商户
      operationId: GetMerchant
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新商户
      operationId: UpdateMerchant
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateMerchant'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/levels:
    get:
      summary: 获取商户等级列表
      operationId: ListMerchantLevels
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/MerchantLevel'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/level:
    post:
      summary: 创建商户等级
      operationId: CreateMerchantLevel
      tags:
        - 商户
      requestBody:
        $ref: '#/components/requestBodies/CreateMerchantLevel'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/level/{id}:
    get:
      summary: 获取商户等级信息
      operationId: GetMerchantLevel
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantLevel'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新商户等级
      operationId: UpdateMerchantLevel
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateMerchantLevel'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    delete:
      summary: 删除商户等级
      operationId: DeleteMerchantLevel
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/amount/{id}:
    put:
      summary: 更新商户金额
      operationId: UpdateMerchantAmount
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateMoney'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/google-reset/{id}:
    post:
      summary: 重置商户谷歌验证
      operationId: ResetMerchantGoogle
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/reviews:
    get:
      summary: 获取商户审核列表
      operationId: ListMerchantReviews
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/ParentId'
        - $ref: '#/components/parameters/Nickname'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/Agent'
        - $ref: '#/components/parameters/UserReviewState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/MerchantReview'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/review/{id}:
    get:
      summary: 获取商户审核
      operationId: GetMerchantReview
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantReviewDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新商户审核
      operationId: UpdateMerchantReview
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateMerchantReview'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/withdraws:
    get:
      summary: 获取商户提现列表
      operationId: ListMerchantWithdraws
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/Summary'
        - $ref: '#/components/parameters/OrderState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/MerchantWithdrawOrder'
                  summary:
                    $ref: '#/components/schemas/SummaryOrder'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/withdraw/{id}:
    get:
      summary: 获取商户提现单
      operationId: GetMerchantWithdraw
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantWithdrawOrderDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新商户提现单
      operationId: UpdateMerchantWithdraw
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrderCommon'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/bankCards:
    get:
      summary: 获取商户银行卡列表
      operationId: ListMerchantBankCards
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/BankAccount'
        - $ref: '#/components/parameters/RecordState'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/BankCard'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/bankCard:
    post:
      summary: 创建商户银行卡
      operationId: CreateMerchantBankCard
      tags:
        - 商户
      requestBody:
        $ref: '#/components/requestBodies/CreateBankCard'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/bankCard/{id}:
    get:
      summary: 获取商户银行卡
      operationId: GetMerchantBankCard
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankCard'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新商户银行卡
      operationId: UpdateMerchantBankCard
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateBankCard'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    delete:
      summary: 删除商户银行卡
      operationId: DeleteMerchantBankCard
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/moneyLogs:
    get:
      summary: 获取商户资金日志列表
      operationId: ListMerchantMoneyLogs
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/MerchantMoneyLogType'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/MerchantMoneyLog'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant/statistic:
    get:
      summary: 获取商户统计列表
      operationId: ListMerchantStatistics
      tags:
        - 商户
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/StatisticOrderUserDateChannel'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /admin/collectors:
    get:
      summary: 获取码商列表
      operationId: ListCollectors
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/ParentId'
        - $ref: '#/components/parameters/ParentUsername'
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Username'
        - $ref: '#/components/parameters/Remark'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/WorkState'
        - $ref: '#/components/parameters/UserListState'
        - $ref: '#/components/parameters/Agent'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/QueryStatStart'
        - $ref: '#/components/parameters/QueryStatEnd'
        - $ref: '#/components/parameters/Online'
        - $ref: '#/components/parameters/LevelId'
        - $ref: '#/components/parameters/Summary'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/Collector'
                  summary:
                    $ref: '#/components/schemas/SummaryAppendUser'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector:
    post:
      summary: 创建码商
      operationId: CreateCollector
      tags:
        - 码商
      requestBody:
        $ref: '#/components/requestBodies/CreateCollector'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/{id}:
    get:
      summary: 获取码商
      operationId: GetCollector
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectorDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新码商
      operationId: UpdateCollector
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateCollector'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/amount/{id}:
    put:
      summary: 更新码商金额
      operationId: UpdateCollectorAmount
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateMoney'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/google-reset/{id}:
    post:
      summary: 重置码商谷歌验证
      operationId: ResetCollectorGoogle
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/levels:
    get:
      summary: 获取码商等级列表
      operationId: ListCollectorLevels
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/CollectorLevel'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/level:
    post:
      summary: 创建码商等级
      operationId: CreateCollectorLevel
      tags:
        - 码商
      requestBody:
        $ref: '#/components/requestBodies/CreateCollectorLevel'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/level/{id}:
    get:
      summary: 获取码商等级信息
      operationId: GetCollectorLevel
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectorLevel'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新码商等级
      operationId: UpdateCollectorLevel
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateCollectorLevel'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    delete:
      summary: 删除码商等级
      operationId: DeleteCollectorLevel
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/reviews:
    get:
      summary: 获取码商审核列表
      operationId: ListCollectorReviews
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/ParentId'
        - $ref: '#/components/parameters/Nickname'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/Agent'
        - $ref: '#/components/parameters/UserReviewState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/CollectorReview'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/review/{id}:
    get:
      summary: 获取码商审核
      operationId: GetCollectorReview
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectorReviewDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新码商审核
      operationId: UpdateCollectorReview
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateCollectorReview'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/recharges:
    get:
      summary: 获取码商充值列表
      operationId: ListCollectorRecharges
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Username'
        - $ref: '#/components/parameters/Summary'
        - $ref: '#/components/parameters/OrderState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/CollectorRechargeOrder'
                  summary:
                    $ref: '#/components/schemas/SummaryOrder'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/recharge/{id}:
    get:
      summary: 获取码商充值单
      operationId: GetCollectorRecharge
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectorRechargeOrderDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新码商充值单
      operationId: UpdateCollectorRecharge
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrderCommon'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/withdraws:
    get:
      summary: 获取码商提现列表
      operationId: ListCollectorWithdraws
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Username'
        - $ref: '#/components/parameters/OrderState'
        - $ref: '#/components/parameters/Summary'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/CollectorWithdrawOrder'
                  summary:
                    $ref: '#/components/schemas/SummaryOrder'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/withdraw/{id}:
    get:
      summary: 获取码商提现单
      operationId: GetCollectorWithdraw
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectorWithdrawOrderDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新码商提现单
      operationId: UpdateCollectorWithdraw
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrderCommon'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/bankCards:
    get:
      summary: 获取码商银行卡列表
      operationId: ListCollectorBankCards
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Username'
        - $ref: '#/components/parameters/BankAccount'
        - $ref: '#/components/parameters/Agent'
        - $ref: '#/components/parameters/RecordState'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/BankCard'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/bankCard:
    post:
      summary: 创建码商银行卡
      operationId: CreateCollectorBankCard
      tags:
        - 码商
      requestBody:
        $ref: '#/components/requestBodies/CreateBankCard'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/bankCard/{id}:
    get:
      summary: 获取码商银行卡
      operationId: GetCollectorBankCard
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankCard'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新码商银行卡
      operationId: UpdateCollectorBankCard
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateBankCard'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    delete:
      summary: 删除码商银行卡
      operationId: DeleteCollectorBankCard
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/routes:
    get:
      summary: 获取码商通道列表
      operationId: ListCollectorRoutes
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/RouteState'
        - $ref: '#/components/parameters/ChannelType'
        - $ref: '#/components/parameters/ProvinceId'
        - $ref: '#/components/parameters/CityId'
        - $ref: '#/components/parameters/QueryStatStart'
        - $ref: '#/components/parameters/QueryStatEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/Route'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/route/{id}:
    get:
      summary: 获取码商通道详情
      operationId: GetCollectorRoute
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新码商通道
      operationId: UpdateCollectorRoute
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateCollectorRoute'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/route/batch-update-state:
    put:
      summary: 批量更新通道状态
      operationId: BatchUpdateCollectorRouteState
      tags:
        - 码商
      requestBody:
        $ref: '#/components/requestBodies/BatchUpdateRouteState'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector/moneyLogs:
    get:
      summary: 获取码商资金日志列表
      operationId: ListCollectorMoneyLogs
      tags:
        - 码商
      parameters:
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Username'
        - $ref: '#/components/parameters/MoneyLogType'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/MoneyLog'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/providers:
    get:
      summary: 获取服务商列表
      operationId: ListProviders
      tags:
        - 服务商
      parameters:
        - $ref: '#/components/parameters/ParentId'
        - $ref: '#/components/parameters/ParentUsername'
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Username'
        - $ref: '#/components/parameters/Remark'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/WorkState'
        - $ref: '#/components/parameters/UserListState'
        - $ref: '#/components/parameters/Agent'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/QueryStatStart'
        - $ref: '#/components/parameters/QueryStatEnd'
        - $ref: '#/components/parameters/Summary'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/Provider'
                  summary:
                    $ref: '#/components/schemas/SummaryAppendUser'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/provider:
    post:
      summary: 创建服务商
      operationId: CreateProvider
      tags:
        - 服务商
      requestBody:
        $ref: '#/components/requestBodies/CreateProvider'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/provider/{id}:
    get:
      summary: 获取服务商
      operationId: GetProvider
      tags:
        - 服务商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新服务商
      operationId: UpdateProvider
      tags:
        - 服务商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateProvider'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/provider/amount/{id}:
    put:
      summary: 更新服务商金额
      operationId: UpdateProviderAmount
      tags:
        - 服务商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateMoney'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/provider/google-reset/{id}:
    post:
      summary: 重置服务商谷歌验证
      operationId: ResetProviderGoogle
      tags:
        - 服务商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/provider/reviews:
    get:
      summary: 获取服务商审核列表
      operationId: ListProviderReviews
      tags:
        - 服务商
      parameters:
        - $ref: '#/components/parameters/ParentId'
        - $ref: '#/components/parameters/Nickname'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/Agent'
        - $ref: '#/components/parameters/UserReviewState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/ProviderReview'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/provider/review/{id}:
    get:
      summary: 获取服务商审核
      operationId: GetProviderReview
      tags:
        - 服务商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderReviewDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新服务商审核
      operationId: UpdateProviderReview
      tags:
        - 服务商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateProviderReview'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/provider/bankCards:
    get:
      summary: 获取服务商银行卡列表
      operationId: ListProviderBankCards
      tags:
        - 服务商
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Username'
        - $ref: '#/components/parameters/BankAccount'
        - $ref: '#/components/parameters/Agent'
        - $ref: '#/components/parameters/RecordState'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/BankCard'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/provider/bankCard:
    post:
      summary: 创建服务商银行卡
      operationId: CreateProviderBankCard
      tags:
        - 服务商
      requestBody:
        $ref: '#/components/requestBodies/CreateBankCard'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/provider/bankCard/{id}:
    get:
      summary: 获取服务商银行卡
      operationId: GetProviderBankCard
      tags:
        - 服务商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankCard'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新服务商银行卡
      operationId: UpdateProviderBankCard
      tags:
        - 服务商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateBankCard'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    delete:
      summary: 删除服务商银行卡
      operationId: DeleteProviderBankCard
      tags:
        - 服务商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/provider/routes:
    get:
      summary: 获取服务商通道列表
      operationId: ListProviderRoutes
      tags:
        - 服务商
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/RouteState'
        - $ref: '#/components/parameters/ProvinceId'
        - $ref: '#/components/parameters/CityId'
        - $ref: '#/components/parameters/QueryStatStart'
        - $ref: '#/components/parameters/QueryStatEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/Route'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/provider/route/{id}:
    get:
      summary: 获取服务商通道详情
      operationId: GetProviderRoute
      tags:
        - 服务商
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新服务商通道
      operationId: UpdateProviderRoute
      tags:
        - 服务商
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateProviderRoute'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/provider/route/batch-update-state:
    put:
      summary: 批量更新通道状态
      operationId: BatchUpdateCollectorRouteState
      tags:
        - 服务商
      requestBody:
        $ref: '#/components/requestBodies/BatchUpdateRouteState'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/provider/moneyLogs:
    get:
      summary: 获取服务商资金日志列表
      operationId: ListProviderMoneyLogs
      tags:
        - 服务商
      parameters:
        - $ref: '#/components/parameters/OrderId'
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Username'
        - $ref: '#/components/parameters/MoneyLogType'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/MoneyLog'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /admin/finance/platform:
    get:
      summary: 查询平台收益列表
      operationId: ListPlatformFinances
      tags:
        - 财务
      parameters:
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/StatisticPlatformIncome'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/finance/merchant:
    get:
      summary: 查询商户统计列表
      operationId: ListMerchantFinances
      tags:
        - 财务
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/StatisticMerchant'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/finance/collector:
    get:
      summary: 查询码商统计列表
      operationId: ListCollectorFinances
      tags:
        - 财务
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/StatisticCollector'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /admin/merchant-agent/withdraws:
    get:
      summary: 获取商户代理提现列表
      operationId: ListMerchantAgentWithdraws
      tags:
        - 商户代理
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/Summary'
        - $ref: '#/components/parameters/OrderState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/MerchantAgentWithdrawOrder'
                  summary:
                    $ref: '#/components/schemas/SummaryOrder'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/merchant-agent/withdraw/{id}:
    get:
      summary: 获取商户代理提现单
      operationId: GetMerchantAgentWithdraw
      tags:
        - 商户代理
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantAgentWithdrawOrderDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新商户代理提现单
      operationId: UpdateMerchantAgentWithdraw
      tags:
        - 商户代理
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrderCommon'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /admin/collector-agent/withdraws:
    get:
      summary: 获取码商代理提现列表
      operationId: ListCollectorAgentWithdraws
      tags:
        - 码商代理
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/Summary'
        - $ref: '#/components/parameters/OrderState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/CollectorAgentWithdrawOrder'
                  summary:
                    $ref: '#/components/schemas/SummaryOrder'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/collector-agent/withdraw/{id}:
    get:
      summary: 获取码商代理提现单
      operationId: GetCollectorAgentWithdraw
      tags:
        - 码商代理
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectorAgentWithdrawOrderDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新码商代理提现单
      operationId: UpdateCollectorAgentWithdraw
      tags:
        - 码商代理
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrderCommon'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/provider-agent/withdraws:
    get:
      summary: 获取服务商代理提现列表
      operationId: ListProviderAgentWithdraws
      tags:
        - 服务商代理
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Phone'
        - $ref: '#/components/parameters/Summary'
        - $ref: '#/components/parameters/OrderState'
        - $ref: '#/components/parameters/QueryStart'
        - $ref: '#/components/parameters/QueryEnd'
        - $ref: '#/components/parameters/PageablePage'
        - $ref: '#/components/parameters/PageableSize'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                properties:
                  total:
                    type: number
                    format: int64
                    description: 总数
                  records:
                    type: array
                    description: 记录
                    items:
                      $ref: '#/components/schemas/ProviderAgentWithdrawOrder'
                  summary:
                    $ref: '#/components/schemas/SummaryOrder'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /admin/provider-agent/withdraw/{id}:
    get:
      summary: 获取服务商代理提现单
      operationId: GetProviderAgentWithdraw
      tags:
        - 服务商代理
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAgentWithdrawOrderDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      summary: 更新码商代理提现单
      operationId: UpdateCollectorAgentWithdraw
      tags:
        - 码商代理
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrderCommon'
      responses:
        200:
          description: 成功
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

components:
  schemas:

    SummaryMerchantOrder:
      type: object
      description: 商户订单总计
      properties:
        totalCount:
          type: number
          description: 订单总数
        totalSuccessCount:
          type: number
          description: 成功订单数量
        totalAmount:
          type: number
          description: 订单总金额
        totalSuccessAmount:
          type: number
          description: 成功订单金额
        totalFee:
          type: number
          description: 成功订单商户支出的手续费
        totalCommission:
          type: number
          description: 成功订单码商获得的佣金
        totalIncome:
          type: number
          description: 成功订单平台收益
        successRate:
          type: number
          description: 成功率
    SummaryOrder:
      type: object
      description: 订单总计
      properties:
        totalAmount:
          type: number
          description: 总金额
        totalActualAmount:
          type: number
          description: 总实付金额
        totalFee:
          type: number
          description: 总手续费
    SummaryWithdraw:
      type: object
      description: 提现总计
      properties:
        totalWithdrawingAmount:
          type: number
          description: 总提现中的金额
    SummaryUser:
      type: object
      description: 用户总计
      properties:
        totalCount:
          type: number
          description: 码商总数
        totalAmount:
          type: number
          description: 总余额
        totalLockAmount:
          type: number
          description: 总锁定金额
    SummaryAppendUser:
      description: 总计
      allOf:
        - $ref: '#/components/schemas/SummaryUser'
        - type: object
          properties:
            totalBalance:
              type: number
              description: 总跑分
    SummaryRoute:
      type: object
      description: 通道总计[仅统计已启用的通道]
      properties:
        wechatCount:
          type: number
          description: 微信通道数量
        alipayCount:
          type: number
          description: 支付宝通道数量
    SummaryBasic:
      type: object
      description: 统计基本信息
      properties:
        online:
          type: number
          description: 在线用户数量
        collectorOnline:
          type: number
          description: 在线码商数量
        providerOnline:
          type: number
          description: 在线服务商数量
        merchantOrderCount:
          type: number
          description: 进行中的商户单数量
        collectorRechargeCount:
          type: number
          description: 进行中的码商充值单数量
        collectorWithdrawCount:
          type: number
          description: 进行中的码商提现单数量
        collectorAgentWithdrawCount:
          type: number
          description: 进行中的码商代理提现单数量
        merchantWithdrawCount:
          type: number
          description: 进行中的商户提现单数量
        merchantAgentWithdrawCount:
          type: number
          description: 进行中的商户代理提现单数量
        providerAgentWithdrawCount:
          type: number
          description: 进行中的服务商代理提现单数量

    IsOnline:
      type: boolean
      description: 是否在线
    AdminState:
      type: string
      enum: [ban, enable]
      description: >
        管理员状态:
          * `ban` - 禁用
          * `enable` - 启用
    UserState:
      type: string
      enum: [ban, enable, lock]
      description: >
        用户状态:
          * `ban` - 禁用
          * `enable` - 启用
          * `lock`  - 锁定
    ReviewState:
      type: string
      enum: [underReview, reviewReject]
      description: >
        审核状态:
          * `underReview` - 审核中
          * `reviewReject` - 审核拒绝
    UpdateReviewState:
      type: string
      enum: [enable, reviewReject]
      description: >
        审核状态:
          * `enable` - 审核通过
          * `reviewReject` - 审核拒绝
    PayFormat:
      type: string
      enum: [normal, manual]
      description: >
        商户单类型:
          * `normal` - 正常订单
          * `manual` - 手工补单
    PayState:
      type: string
      enum: [unpaid, paid, cancel]
      description: >
        商户单支付状态:
          * `unpaid` - 未支付
          * `paid` - 已支付
          * `cancel`  - 已取消
    PayStrategy:
      type: string
      enum: [unknown, grab, dispatch]
      description: >
        下单策略:
          * `unknown` - 未知
          * `grab` - 抢单
          * `dispatch` - 派单
    PayResult:
      type: string
      enum: [success, exception]
      description: >
        下单结果
          * `success` - 下单成功
          * `exception` - 下单异常
    NotifyState:
      type: string
      enum: [running, success, fail]
      description: >
        通知状态:
          * `running` - 正在通知
          * `success` - 通知成功
          * `fail`  - 超出尝试通知的次数，通知失败
[...]
