openapi: 3.0.1
info:
  title: 码商代理API
  version: 1.0.3
servers:
- url: https://supplier-agent-api.zsf918.com/v1
tags:
- name: 人员
  description: 人员类API
- name: 财务
  description: 财务类API
- name: 团队
  description: 团队类API
paths:
  /agent/supplier/subordinate:
    post:
      tags:
      - 人员
      summary: 创建新下级码商
      operationId: createSupplier
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/SupplierCreateReq'
      responses:
        200:
          description: 成功
          content: {}
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /agent/supplier/subordinates:
    get:
      tags:
      - 人员
      summary: 获取下级列表
      operationId: listSubordinates
      parameters:
      - name: page
        in: query
        description: 页数
        required: true
        schema:
          type: number
          default: 1
      - name: size
        in: query
        description: 页大小
        required: true
        schema:
          type: number
          default: 10
      - name: agent
        in: query
        description: 是否为代理
        schema:
          type: boolean
      - name: state
        in: query
        description: 下级状态
        schema:
          $ref: '#/components/schemas/SupplierState'
      - name: q
        in: query
        description: ID｜手机号｜用户名
        schema:
          type: string
      responses:
        200:
          description: 成功
          content:  
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    format: int64
                    description: 总数
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/Supplier'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /agent/supplier/subordinate/{supplierId}:
    get:
      tags:
      - 人员
      summary: 获取单个下级信息
      operationId: getSubordinateById
      parameters:
      - name: supplierId
        in: path
        description: 码商ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

    post:
      tags:
      - 人员
      summary: 更新单个下级信息
      operationId: updateSupplierById
      parameters:
      - name: supplierId
        in: path
        description: 码商ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/SupplierUpdateReq'
      responses:
        200:
          description: 成功
          content: {}
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /agent/supplier/bankCards:
    get:
      tags:
      - 财务
      summary: 获取银行卡列表
      operationId: listBanks
      parameters:
      - name: page
        in: query
        description: 页数
        required: true
        schema:
          type: number
          default: 1
      - name: size
        in: query
        description: 页大小
        required: true
        schema:
          type: number
          default: 10
      - name: state
        in: query
        description: 银行卡状态
        schema:
          $ref: '#/components/schemas/BankCardState'
      responses:
        200:
          description: 成功
          content:  
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    format: int64
                    description: 总数
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/BankCard'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /agent/supplier/bankCard:
    post:
      tags:
      - 财务
      summary: 创建银行卡
      operationId: createBank
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/BankCardCreateOrUpdateReq'
      responses:
        200:
          description: 成功
          content: {}
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /agent/supplier/bankCard/{bankId}:
    post:
      tags:
      - 财务
      summary: 编辑银行卡
      operationId: updateBank
      parameters:
      - name: bankId
        in: path
        description: 银行卡ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/BankCardCreateOrUpdateReq'
      responses:
        200:
          description: 成功
          content: {}
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    delete:
      tags:
      - 财务
      summary: 删除银行卡
      operationId: deleteBank
      parameters:
      - name: bankId
        in: path
        description: 银行卡ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: 成功
          content: {}
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /agent/supplier/withdraws:
    get:
      tags:
      - 财务
      summary: 获取提现申请列表
      operationId: listWithdraws
      parameters:
      - name: page
        in: query
        description: 页数
        required: true
        schema:
          type: number
          default: 1
      - name: size
        in: query
        description: 页大小
        required: true
        schema:
          type: number
          default: 10
      - name: state
        in: query
        description: 提现状态
        schema:
          $ref: '#/components/schemas/WithdrawState'
      - name: fromTime
        in: query
        description: 开始日期
        schema:
          type: string
          format: date-time
      - name: toTime
        in: query
        description: 结束日期
        schema:
          type: string
          format: date-time
      - name: accountName
        in: query
        description: 开户名
        schema:
          type: string
      responses:
        200:
          description: 成功
          content:  
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    format: int64
                    description: 总数
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/Withdraw'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /agent/supplier/withdraw:
    post:
      tags:
      - 财务
      summary: 创建提现申请
      operationId: createWithdraw
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/WithdrawCreateReq'
      responses:
        200:
          description: 成功
          content: {}
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /agent/supplier/transaction/{supplierId}:
    get:
      tags:
      - 财务
      summary: 获取单个下级交易列表
      operationId: getSubordinateTransactionsById
      parameters:
      - name: page
        in: query
        description: 页数
        required: true
        schema:
          type: number
          default: 1
      - name: size
        in: query
        description: 页大小
        required: true
        schema:
          type: number
          default: 10
      - name: fromTime
        in: query
        description: 开始日期
        required: true
        schema:
          type: string
          format: date
      - name: toTime
        in: query
        description: 结束日期
        required: true
        schema:
          type: string
          format: date
      - name: supplierId
        in: path
        description: 码商ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    format: int64
                    description: 总数
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /agent/supplier/orders:
    get:
      tags:
      - 财务
      summary: 获取下级订单统计列表
      operationId: getSubordinateOrdersStatistics
      parameters:
      - name: page
        in: query
        description: 页数
        required: true
        schema:
          type: number
          default: 1
      - name: size
        in: query
        description: 页大小
        required: true
        schema:
          type: number
          default: 10
      - name: time
        in: query
        description: 日期
        required: true
        schema:
          type: string
          format: date
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    format: int64
                    description: 总数
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrdersStatistics'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /agent/supplier/financials:
    get:
      tags:
      - 财务
      summary: 获取下级财务统计列表
      operationId: getSubordinateFinancials
      parameters:
      - name: page
        in: query
        description: 页数
        required: true
        schema:
          type: number
          default: 1
      - name: size
        in: query
        description: 页大小
        required: true
        schema:
          type: number
          default: 10
      - name: time
        in: query
        description: 日期
        required: true
        schema:
          type: string
          format: date
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    format: int64
                    description: 总数
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/FinancialStatistics'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  
  /agent/supplier/financial/{supplierId}:
    get:
      tags:
      - 财务
      summary: 获取单个下级财务统计列表
      operationId: getSubordinateFinancialsById
      parameters:
      - name: page
        in: query
        description: 页数
        required: true
        schema:
          type: number
          default: 1
      - name: size
        in: query
        description: 页大小
        required: true
        schema:
          type: number
          default: 10
      - name: fromTime
        in: query
        description: 开始日期
        required: true
        schema:
          type: string
          format: date
      - name: toTime
        in: query
        description: 结束日期
        required: true
        schema:
          type: string
          format: date
      - name: supplierId
        in: path
        description: 码商ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    format: int64
                    description: 总数
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/FinancialStatisticsDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /agent/supplier/teams:
    get:
      tags: 
      - 团队
      summary: 获取团队列表信息
      operationId: getSupplierTeams
      parameters: 
      - name: page
        in: query
        description: 页数
        required: true
        schema:
          type: number
          default: 1
      - name: size
        in: query
        description: 页大小
        required: true
        schema:
          type: number
          default: 10
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    format: int64
                    description: 总数
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /agent/supplier/team/{supplierId}:
    get:
      tags: 
      - 团队
      summary: 获取单个下级团队信息
      operationId: getSupplierTeamById
      parameters:
      - name: supplierId
        in: path
        description: 码商ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          description: 已授权无权限
          content: {}
        500:
          description: 其他服务器异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
components:
  schemas:
    BankCard:
      type: object
      properties:
        id:
          type: string
          description: 银行卡id
        name: 
          type: string
          description: 银行名称
        account:
          type: string
          description: 银行开户名
        cardNumber: 
          type: string
          description: 银行卡号
        address: 
          type: string
          description: 银行地址
        state:
          $ref: '#/components/schemas/BankCardState'

    BankCardState:
      type: string
      enum: [enable, disable, delete]
      description: >
        银行卡状态:
         * `enable` - 启用
         * `disable` - 禁用
         * `delete` - 已删除

    BankCardCreateOrUpdateReq:
      type: object
      properties:
        bankId: 
          type: string
          description: 银行Id
        account:
          type: string
          description: 银行开户名
        cardNumber: 
          type: string
          description: 银行卡号
        address: 
          type: string
          description: 银行地址

    Withdraw:
      type: object
      properties:
        id:
          type: string
          description: 提现ID
        bankId:
          type: string
          description: 银行卡ID
        amount:
          type: number
          description: 金额
        fee:
          type: number
          description: 手续费
        actualAmount:
          type: number
          description: 实际到账金额
        state:
          $ref: '#/components/schemas/WithdrawState'
        payCredit:
          type: string
          description: 支付凭证
        payAt:
          type: string
          format: date-time
          description: 支付日期
        createAt:
          type: string
          format: date-time
          description: 创建日期（申请日期）
        note:
          type: string
          description: 提现备注
        reviewNote:
          type: string
          description: 审核备注
    
    WithdrawState:
      type: string
      enum: [underReview, success, reject]
      description: >
        提现状态:
         * `underReview` - 审核中
         * `success` - 成功
         * `reject` - 拒绝

    WithdrawCreateReq:
      type: object
      properties:
        bankId:
          type: string
          description: 银行卡ID
        amount:
          type: number
          description: 金额
        secretPassword:
          type: string
          description: 安全密码
        note:
          type: string
          description: 提现备注

    SupplierCreateReq:
      type: object
      properties:
        username:
          type: string
          description: 用户名
        password:
          type: string
          description: 密码
        nickname:
          type: string
          description: 昵称（联系用名）
        phone:
          type: string
          format: phone-number
          description: 手机号
        agent:
          type: boolean
          description: 是否为代理
        commission:
          type: object
          description: 佣金比例
          properties:
            wechat:
              type: number
              description: 数值
            alipay:
              type: number
              description: 数值

    SupplierUpdateReq:
      type: object
      properties:
        nickname:
          type: string
          description: 昵称（联系用名）
        commission:
          type: object
          description: 佣金比例
          properties:
            wechat:
              type: number
              description: 数值
            alipay:
              type: number
              description: 数值
          
    Supplier:
      type: object
      properties:
        id:
          type: string
          description: 码商ID
        username:
          type: string
          description: 用户名
        nickname:
          type: string
          description: 昵称（联系用名）
        phone:
          type: string
          format: phone-number
          description: 手机号
        state:
          $ref: '#/components/schemas/SupplierState'
        agent:
          type: boolean
          description: 是否为代理
        commission:
          type: object
          description: 佣金比例
          properties:
            wechat:
              $ref: '#/components/schemas/ValueWithType'
            alipay:
              $ref: '#/components/schemas/ValueWithType'
        withdrawFeeType:
          $ref: '#/components/schemas/ValueType'
        withdrawFee:
          type: number
          description: 提现手续费
        amount:
          type: number
          description: 当前账户金额
        lockAmount:
          type: number
          description: 当前账户锁定金额
        dailyLimitAmount:
          type: number
          description: 日限额
        lastOnlineAt:
          type: string
          format: date-time
          description: 最后在线时间
        createAt:
          type: string
          format: date-time
          description: 创建日期（申请日期）

    SupplierState:
      type: string
      enum: [ban, enable, lock, underReview, reviewReject]
      description: >
        码商状态:
         * `ban` - 封禁
         * `enable` - 启用
         * `lock` - 锁定
         * `underReview` - 审核中
         * `reviewReject` - 拒绝

    ValueWithType:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ValueType'
        value:
          type: number
          description: 数值
          
    ValueType:
      type: string
      enum: [percent, absolute]
      description: >
        数值类型:
         * `percent` - 百分比
         * `absolute` - 绝对值
          
    Transaction:
      type: object
      properties:
        id:
          type: string
          description: 交易ID
        supplierId:
          type: string
          description: 码商ID
        amount:
          type: number
          description: 交易金额
        type:
          type: string
          enum: [ordered, rebate]
          description: >
            交易类型:
             * `ordered` - 码商下单
             * `orderedRebate` - 下单返佣
        orderId:
          type: string
          description: 关联订单号
        orderState:
          type: string
          description: 关联订单状态
        createAt:
          type: string
          format: date-time
          description: 创建日期
    
    OrdersStatistics:
      type: object
      properties:
        supplierId:
          type: string
          description: 码商ID
        time:
          type: string
          format: date-time
          description: 统计日期
        totalOrders:
          type: integer
          format: int64
          description: 总订单数量
        channels:
          type: array
          description: 通道统计
          items:
            type: object
            properties:
              channel:
                type: string
                description: 通道类型
              successOrders:
                type: integer
                format: int64
                description: 成功订单数
              totalOrdersAmount:
                type: number
                description: 总订单金额
              totalSuccessOrdersAmount:
                type: number
                description: 总成功订单金额
    
    FinancialStatistics:
      type: object
      properties:
        supplierId:
          type: string
          description: 码商ID
        time:
          type: string
          format: date-time
          description: 统计日期
        totalOrders:
          type: integer
          format: int64
          description: 总订单数量
        channels:
          type: array
          description: 通道统计
          items:
            type: object
            properties:
              channel:
                type: string
                description: 通道类型
              totalOrderedAmount:
                type: number
                description: 总下单金额
              totalRebateAmount:
                type: number
                description: 总返佣金额
    
    FinancialStatisticsDetail:
      type: object
      properties:
        time:
          type: string
          format: date-time
          description: 统计日期
        totalOrders:
          type: integer
          format: int64
          description: 总订单数量
        channels:
          type: array
          description: 通道统计
          items:
            type: object
            properties:
              channel:
                type: string
                description: 通道类型
              totalOrderedAmount:
                type: number
                description: 总下单金额
              totalWithdrawAmount:
                type: number
                description: 总提现金额

    Team:
      type: object
      properties:
        id:
          type: string
          description: 码商ID
        username:
          type: string
          description: 用户名
        nickname:
          type: string
          description: 昵称（联系用名）
        phone:
          type: string
          format: phone-number
          description: 手机号
        agent:
          type: boolean
          description: 是否为代理
        subordinateAgentCount:
          type: integer
          format: int64
          description: 直属下级码商代理数量
        subordinateNormalCount:
          type: integer
          format: int64
          description: 直属下级码商数量
        totalAmount:
          type: integer
          format: int64
          description: 直属下级总可用额度
        totalLockAmount:
          type: integer
          format: int64
          description: 直属下级总冻结额度

    ApiErrorResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string

  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
      
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: text

security:
  - bearerAuth: []